/* FONT FACE */
@font-face {
    font-family: 'Gelion';
    src: url('../assets/fonts/Gelion-Medium.eot');
    src: url('../assets/fonts/Gelion-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gelion-Medium.woff2') format('woff2'),
        url('../assets/fonts/Gelion-Medium.woff') format('woff'),
        url('../assets/fonts/Gelion-Medium.ttf') format('truetype'),
        url('../assets/fonts/Gelion-Medium.svg#Gelion-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Telegraf';
    src: url('../assets/fonts/Telegraf-Regular.eot');
    src: url('../assets/fonts/Telegraf-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Telegraf-Regular.woff2') format('woff2'),
        url('../assets/fonts/Telegraf-Regular.woff') format('woff'),
        url('../assets/fonts/Telegraf-Regular.ttf') format('truetype'),
        url('../assets/fonts/Telegraf-Regular.svg#Telegraf-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Object Sans';
    src: url('../assets/fonts/ObjectSans-Regular.eot');
    src: url('../assets/fonts/ObjectSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/ObjectSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/ObjectSans-Regular.woff') format('woff'),
        url('../assets/fonts/ObjectSans-Regular.ttf') format('truetype'),
        url('../assets/fonts/ObjectSans-Regular.svg#ObjectSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}